nav {
  height: 100px;
  /*background-color: #e5d7d7;*/
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 576px) {
  .container {
    padding:0 20px;
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width:1216px;
  }
}
.wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 24px;
}
ul.entry-point {
  overflow-x: auto;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

ul.entry-point li{
  display: block;
}

ul.entry-point li a {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 8px;
  margin-right: 24px;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  height: 32px;
  position: relative;
  color: #222222;
}

ul.entry-point li. active a:after {
  content: "";
  height: 3px;
  width: 100%;
  border-radius: 15px;
  background-color: #555555;
  bottom: 0;
  position: absolute;
  display: block;
}
